/*@import url(http://fonts.googleapis.com/css?family=Droid+Serif);*/
select{
    width:80%;
    border:3px solid rgb(200, 200, 207);
    height:42px;
    padding:0px;
    border-radius:3px;
    margin:5px 10px 20px 35px;
}
input[type=text]{
    width:71%;
    border:2px solid rgb(200, 200, 207);
    height:27px;
    padding:6px;
    border-radius:4px;
    /*margin:-2px 287px 15px 60px;*/
    margin-top: 47px;
    margin-left: 70px;
}
input[id=loadIpAddress]{
    border: 2px solid rgb(200, 200, 207);
    border-radius: 4px;
    height: 44px;
    margin-left: 53px;
    margin-top: 103px;
    padding: 6px;
    width: 78%;
}
input[type=password]{
    width:71%;
    border:2px solid rgb(200, 200, 207);
    height:27px;
    padding:6px;
    border-radius:4px;
    margin-top: 35px;
    margin-left: 70px;
}
input[type=submit]{
    width:31%;
    border:0px solid rgb(200, 200, 207);
    height:37px;
    padding:0px;
    line-height:20px;
    border-radius:4px;
    font-family:Microsoft YaHei;
    color: #fff !important;
    font-weight:bold;
    font-size:16px;
    background-color: #73AD21 !important;
    margin-top: 22px;
    margin-left: 192px;
}
input[id=sendId]{
    width:35%;
    border:0px solid rgb(200, 200, 207);
    height:37px;
    padding:0px;
    line-height:20px;
    border-radius:4px;
    font-family:Microsoft YaHei;
    color: #fff !important;
    font-weight:bold;
    font-size:16px;
    background-color: #73AD21 !important;
    margin-top: 31px;
    margin-left: 161px;
}
label{
    margin-left:35px;
    font-family: 'Droid Serif', serif;
}
.container{
    width:960px;
    margin:50px auto;
}
.main{
    float:left;
    width:300px;
    height:350px;
    box-shadow:1px 1px 12px gray;
    padding-top:30px;
}
h2{
    width:370px;
    text-align:center;
    font-family: 'Droid Serif', serif;
}
.loginheaderOverlay{
    width:10%;
    height:23px;
    padding:20px;
    margin:-174px 287px 20px -68px;
}
.forgot{
    /*text-decoration: none;*/
    color: white;
    font-size: 16px;
    font-family: Microsoft YaHei;
    margin-left: 38px
}
.signIn{
    color:#FF7800;
    font-weight:bold;
    font-size: 1.2em;
    margin-left:141px;
    font-family:Microsoft YaHei;
}
#loginCloseIcon{
    background: url("../images/Close.png") no-repeat;
    width:46%;
    height:50px;
    float: left;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    display:inline;
    z-index:3200;
    position:absolute;
    top:5px;
    right:-198px;
}

@media only screen and (min-width: 600px) {
    .forgotPassword {
        margin: 4em auto;
        position: fixed;
        top: 134px;
        left: 429px;
        width: 38%;
        height: 39%;
        z-index: 10;
        -webkit-border-radius: 24px 24px 24px 24px;
        -moz-border-radius: 24px 24px 24px 24px;
        -khtml-border-radius: 24px 24px 24px 24px;
        content: " ";
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 24px 24px 24px 24px;
    }
}
