<html>
<body>
<p style="margin:9px;font-family:Trebuchet MS;font-size:14px;margin-left:17px;margin-right:204px;">
#foreach(${user} in $!{arrayList})
 Hi, <b>${user.firstName}</b><br/><br/>
 &nbsp;&nbsp;Welcome to the Rajavolu Village!<br/><br/>
 &nbsp;&nbsp;The password for your Rajavolu account is : <b>${user.password}</b><br/>
#end
<br/>
<b>- The Rajavolu Team</b>
</p>
</body>
</html>
